@tailwind utilities;

@layer utilities {
  .h-menu-slidable {
    height: calc(var(--vh) * 100);
  }
  @variants responsive {
    .w-160 {
      width: 40rem;
    }
    .w-248 {
      width: 62rem;
    }
  }
}
