@use '../../../constants.scss';

$BREAKPOINT1: constants.$BREAKPOINT1;
$BREAKPOINT2: constants.$BREAKPOINT2;
$BREAKPOINT3: constants.$BREAKPOINT3;

// Layout 1: CSS media query for the design of Mobile Portrait.
.section {
  // Properties relative to the element itself.
  padding: 0 16px;
  // Properties relative to its content elements.
  display: flex;
  flex-direction: column;

  > h2 {
    // Properties relative to its container element.
    margin-bottom: 16px;
    // Properties relative to the element itself.
    text-align: center;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.9);
  }

  > p {
    // Properties relative to the element itself.
    text-align: center;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.9);
  }

  > button {
    // Properties relative to its container element.
    margin: 12px auto 24px;
    // Properties relative to the element itself.
    padding: 4px 10px;
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.9);
    background-color: rgba(132, 204, 22, 1);
    &:hover {
      background-color: rgba(101, 163, 13, 1);
    }
    &:focus {
      outline: none;
    }
  }
}

// Layout 2: CSS media query for the design of Mobile Landscape.
@media (min-width: $BREAKPOINT1) and (max-width: $BREAKPOINT2) and (orientation: landscape) {
}

// Layout 3: CSS media query for the design of Tablet Portrait.
@media (min-width: $BREAKPOINT1) and (max-width: $BREAKPOINT2) and (orientation: portrait) {
  .section {
    > h2 {
      // Properties relative to the element itself.
      font-size: 18px;
    }

    > p {
      // Properties relative to the element itself.
      font-size: 18px;
    }
  }
}

// Layout 4: CSS media query for the first design of Tablet Landscape and PC.
@media (min-width: $BREAKPOINT2) {
  .section {
    > h2 {
      // Properties relative to the element itself.
      font-size: 18px;
    }

    > p {
      // Properties relative to the element itself.
      font-size: 18px;
    }
  }
}

// Layout 5: CSS media query for the second design of Tablet Landscape and PC.
@media (min-width: $BREAKPOINT3) {
}
