@use '../../shared/constants.scss';

$BREAKPOINT1: constants.$BREAKPOINT1;
$BREAKPOINT2: constants.$BREAKPOINT2;
$BREAKPOINT3: constants.$BREAKPOINT3;

// Layout 1: CSS media query for the design of Mobile Portrait.
.section {
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;

  > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    > div {
      display: flex;
      align-items: center;

      > .contact-icon {
        width: 20px;
        margin-right: 8px;
        fill: rgba(0, 0, 0, 0.9);
      }

      > span {
        font-weight: 600;
      }
    }

    > span,
    address {
      padding-left: 28px;
    }
  }
}

// Layout 2: CSS media query for the design of Mobile Landscape.
@media (min-width: $BREAKPOINT1) and (max-width: $BREAKPOINT2) and (orientation: landscape) {
}

// Layout 3: CSS media query for the design of Tablet Portrait.
@media (min-width: $BREAKPOINT1) and (max-width: $BREAKPOINT2) and (orientation: portrait) {
}

// Layout 4: CSS media query for the first design of Tablet Landscape and PC.
@media (min-width: $BREAKPOINT2) {
}

// Layout 5: CSS media query for the second design of Tablet Landscape and PC.
@media (min-width: $BREAKPOINT3) {
}
