@use '../../shared/constants.scss';

$BREAKPOINT1: constants.$BREAKPOINT1;
$BREAKPOINT2: constants.$BREAKPOINT2;
$BREAKPOINT3: constants.$BREAKPOINT3;

// Layout 1: CSS media query for the design of Mobile Portrait.
.section {
  > h2 {
    // Properties relative to its container element.
    margin-bottom: 16px;
    // Properties relative to the element itself.
    padding: 0 16px;
    text-align: center;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.9);
  }

  > div {
    // Properties relative to its content elements.
    display: flex;
    column-gap: 4px;

    > div {
      // Properties relative to its content elements.
      position: relative;

      > img {
        // Properties relative to its container element.
        object-fit: cover;
        // Properties relative to the element itself.
        width: 100%;
        height: auto;
      }

      > div {
        // Properties relative to its container element.
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        // Properties relative to the element itself.
        padding: 16px;
        background-color: rgba(0, 0, 0, 0.4);
        // Properties relative to its content elements.
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        > h3 {
          // Properties relative to its container element.
          margin-bottom: 4px;
          // Properties relative to the element itself.
          font-size: 14px;
          color: rgba(255, 255, 255, 0.9);
        }

        > p {
          // Properties relative to the element itself.
          font-size: 14px;
          color: rgba(255, 255, 255, 0.9);
        }
      }
    }
  }
}

// Layout 2: CSS media query for the design of Mobile Landscape.
@media (min-width: $BREAKPOINT1) and (max-width: $BREAKPOINT2) and (orientation: landscape) {
  .section {
    > div {
      // Properties relative to its content elements.
      display: flex;
      column-gap: 8px;

      > div {
        > img {
          // Properties relative to the element itself.
          height: 200px;
        }

        > div {
          // Properties relative to the element itself.
          padding: 40px;
        }
      }
    }
  }
}

// Layout 3: CSS media query for the design of Tablet Portrait.
@media (min-width: $BREAKPOINT1) and (max-width: $BREAKPOINT2) and (orientation: portrait) {
  .section {
    > h2 {
      // Properties relative to the element itself.
      padding: 0 40px;
      font-size: 18px;
    }

    > div {
      // Properties relative to its content elements.
      display: flex;
      column-gap: 8px;

      > div {
        > img {
          // Properties relative to the element itself.
          height: 220px;
        }

        > div {
          // Properties relative to the element itself.
          padding: 40px;

          > h3 {
            // Properties relative to its container element.
            margin-bottom: 8px;
            // Properties relative to the element itself.
            font-size: 16px;
          }

          > p {
            // Properties relative to the element itself.
            font-size: 16px;
          }
        }
      }
    }
  }
}

// Layout 4: CSS media query for the first design of Tablet Landscape and PC.
@media (min-width: $BREAKPOINT2) {
  .section {
    > h2 {
      // Properties relative to the element itself.
      padding: 0 80px;
      font-size: 18px;
    }

    > div {
      // Properties relative to its content elements.
      display: flex;
      column-gap: 12px;

      > div {
        > img {
          // Properties relative to the element itself.
          height: 300px;
        }

        > div {
          // Properties relative to the element itself.
          padding: 80px;

          > h3 {
            // Properties relative to its container element.
            margin-bottom: 8px;
            // Properties relative to the element itself.
            font-size: 16px;
          }

          > p {
            // Properties relative to the element itself.
            font-size: 16px;
          }
        }
      }
    }
  }
}

// Layout 5: CSS media query for the second design of Tablet Landscape and PC.
@media (min-width: $BREAKPOINT3) {
}
