@tailwind base;

@layer base {
  @font-face {
    font-family: 'Montserrat SemiBold';
    font-weight: 600;
    src: url(/assets/fonts/montserrat-semibold.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Lato Regular';
    font-weight: 400;
    src: url(/assets/fonts/lato-regular.ttf) format('truetype');
  }
  body {
    @apply w-full h-full bg-white;
  }
  h1,
  h2,
  h3 {
    @apply font-heading font-semibold;
  }
  h1 {
    @apply text-xl mh:text-xl tv:text-2xl th:text-2xl;
  }
  h2 {
    @apply text-base mh:text-base tv:text-lg th:text-lg;
  }
  h3 {
    @apply text-sm mh:text-sm tv:text-base th:text-base;
  }
  p,
  span,
  address,
  label,
  input,
  a,
  button {
    @apply font-body font-normal text-sm mh:text-sm tv:text-base th:text-base;
  }
  p,
  span,
  address,
  label,
  a,
  svg {
    @apply opacity-90;
  }
  a {
    @apply text-lime-600;
  }
  a:hover {
    @apply text-lime-500;
  }
  a,
  button,
  img,
  figure {
    -webkit-tap-highlight-color: transparent;
  }
  address {
    @apply not-italic;
  }
}
