@tailwind base;
@tailwind components;
@tailwind utilities;
@import '~react-image-gallery/styles/css/image-gallery.css';

@layer base {
  @font-face {
    font-family: 'Lato Regular';
    font-weight: 400;
    src: url(/assets/fonts/lato-regular.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Montserrat SemiBold';
    font-weight: 600;
    src: url(/assets/fonts/montserrat-semibold.ttf) format('truetype');
  }
  body {
    @apply font-body font-normal text-base leading-5;
  }
  h1,
  h2,
  h3 {
    @apply font-heading font-semibold;
  }
  h2 {
    @apply text-sm;
  }
  h3 {
    @apply text-xs;
  }
  p {
    @apply mb-2;
  }
}

@media (min-width: 800px) {
  .main-div {
    background-color: orange;
  }
}

@media (min-width: 1200px) {
  .main-div {
    background-color: yellow;
  }
}

@media (min-width: 1600px) {
  .main-div {
    background-color: white;
  }
}
