@tailwind base;
@tailwind components;
@tailwind utilities;
@import '~react-image-gallery/styles/css/image-gallery.css';

@layer base {
  @font-face {
    font-family: 'Montserrat SemiBold';
    font-weight: 600;
    src: url(/assets/fonts/montserrat-semibold.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Lato Regular';
    font-weight: 400;
    src: url(/assets/fonts/lato-regular.ttf) format('truetype');
  }
  body {
    @apply h-full bg-white;
  }
  h1,
  h2,
  h3 {
    @apply font-heading font-semibold;
  }
  h1 {
    @apply text-xl;
  }
  h2 {
    @apply text-base;
  }
  h3 {
    @apply text-xs;
  }
  p,
  span,
  address {
    @apply font-body font-normal leading-5 text-black-opaque;
  }
  address {
    @apply not-italic;
  }
  a {
    @apply text-lime-600;
  }
  a:hover {
    @apply text-lime-500;
  }
}

@layer components {
}

@layer utilities {
  .paragraphs-margin > p:not(:last-of-type) {
    margin-bottom: 0.5rem;
    line-height: 1.5rem;
  }
  .text-black-opaque {
    color: rgba(0, 0, 0, 0.8);
  }
}
